<app-navbar></app-navbar>

<div class="petals-container">
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
</div>

<div class="content scroll-snap-container">
  <div id="section1" class="section section1">
    <div class="card">
      <h2 class="d-flex p-2 justify-content-center display-6">Nuestra boda, nuestra historia</h2>
      <h2 class="d-flex mt-2 p-2 justify-content-center alice-regular font-weight-bold">31 de mayo de 2025</h2>
      <h2 class="d-flex p-2 justify-content-center display-3">Odalis & Juanjo</h2>
      <app-carousel></app-carousel>
    </div>
  </div>

  <div id="section2" class="section section2">
    <div class="card">
      <h2>Ubicación</h2>
      <div class="card">
        <h2 class="d-flex p-2 justify-content-center display-6">Tu presencia es importante</h2>
        <h2 class="d-flex mt-2 p-2 justify-content-center alice-regular font-weight-bold">31 de mayo de 2025 | 12:00
          P.M.</h2>
        <a class="d-flex p-2 justify-content-center text-decoration-none alice-regular"
          href="https://maps.app.goo.gl/SEAzgvHMRw9N5j9EA" target="_blank" id="focusText">
          Finca Villa Esther, Vda. Curazao, Copacabana, Antioquia
        </a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary button-realista button-rounded button-gradient mt-1"
          data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar Asistencia</button>

        <div #guideOverlay id="guideOverlay" class="guide-overlay">
          <div id="guideTooltip" class="guide-tooltip">¡Aquí es donde se llevará a cabo el evento!</div>
        </div>

        <div class="card" #closeGuide id="closeGuide">
          <div class="card-body justify-content-center alice-regular">
            ¡Puedes dar click en la dirección para conocer el mapa!
            <div class=" d-flex justify-content-center mt-1">
              <button type="button" class="btn btn-primary alice-regular"  
                (click)="closeFocus()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section3" class="section section3">
    <div class="card">
      <h2 class="d-flex p-2 justify-content-center display-6">Detalles del evento</h2>
      <ol>
        <li class="alice-regular">El matrimonio se realizará a puerta cerrada y los invitados participarán de la reunión
          y almuerzo organizado para la celebración de la boda.</li>
        <li class="alice-regular">En nuestra celebración no ofreceremos licor, pero si lo deseas, siéntete libre de
          llevar el tuyo.</li>
      </ol>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close d-flex align-self-end position-absolute top-0 z-3" data-bs-dismiss="modal"
        aria-label="Close"></button>
      <!-- Imagen circular centrada -->
      <div class="modal-img-container">
        <img src="../assets/images/WhatsApp.jpg" class="modal-img" alt="Imagen">
      </div>

      <div class="modal-body">
        <!-- Formulario dentro del modal -->

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Asistencia al evento (Radio buttons) -->
          <div class="mb-3 form-group">
            <label class="form-label display-4 d-flex justify-content-center">¿Asistirás al evento?</label>
            <div class="d-flex justify-content-center check-label">
              <div class="form-check me-3">
                <input class="form-check-input" type="radio" formControlName="attendance" value="yes" id="attendYes">
                <label class="form-check-label" for="attendYes">Con gusto acepto</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="attendance" value="no" id="attendNo">
                <label class="form-check-label" for="attendNo">Lamento no poder asistir</label>
              </div>
            </div>
          </div>
        
          <!-- Campo de nombre -->
          <div class="input-field form-group" *ngIf="form.get('attendance')?.value === 'yes' || form.get('attendance')?.value === 'no'">
            <input required autocomplete="off" type="text" id="name" formControlName="guestName" />
            <label for="name">Nombre completo*</label>
          </div>
        
          <!-- Campo de correo -->
          <div class="input-field form-group" *ngIf="form.get('attendance')?.value == 'yes'">
            <input required autocomplete="off" type="email" id="email" formControlName="guestEmail" />
            <label for="email">Correo electrónico*</label>
            
            <!-- Mensaje de error -->
            <div *ngIf="form.get('guestEmail')?.invalid && (form.get('guestEmail')?.touched || form.get('guestEmail')?.dirty)" class="text-danger ">
              <small *ngIf="form.get('guestEmail')?.errors?.['required']">El correo electrónico es obligatorio.</small>
              <small *ngIf="form.get('guestEmail')?.errors?.['email']">El formato del correo electrónico es inválido.</small>
            </div>
          </div>
        
          <!-- Campo de teléfono -->
          <div class="input-field form-group" *ngIf="form.get('attendance')?.value == 'yes'">
            <input required autocomplete="off" type="tel" id="cellphone" formControlName="guestCellphone" />
            <label for="cellphone">Teléfono*</label>
          </div>
        
          <!-- Checkbox de acompañante -->
          <div class="d-flex justify-content-center mb-3 form-group" *ngIf="form.get('attendance')?.value == 'yes'">
            <div class="form-check me-3">
              <input class="form-check-input" type="checkbox" formControlName="companion" id="companion">
              <label class="form-check-label" for="companion">Llevo acompañante</label>
            </div>
          </div>
        
          <!-- Campo de nombre de acompañante -->
          <div class="input-field form-group" *ngIf="form.get('companion')?.value && form.get('attendance')?.value === 'yes'">
            <input required autocomplete="off" type="text" id="companionName" formControlName="companionName" />
            <label for="companionName">Nombre completo del acompañante*</label>
          </div>
        
          <!-- Botón de envío -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary button-realista button-rounded font-weight-bold" [disabled]="form.invalid">
              Enviar
            </button>
          </div>
        </form>        

      </div>
    </div>
  </div>
</div>