<app-navbar></app-navbar>

<div class="petals-container">
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <div class="petal"></div>
  <!-- Repite según el número de pétalos que desees -->
</div>

<div class="content">
  <div id="section1" class="section section1">
    <div class="card">
      <h2 class="d-flex p-2 justify-content-center display-6">Nuestra boda, nuestra historia</h2>
      <h2 class="d-flex mt-2 p-2 justify-content-center alice-regular font-weight-bold">31 de mayo de 2025</h2>
      <h2 class="d-flex p-2 justify-content-center display-2">Odalis & Juan</h2>
      <!-- <p>¡Bienvenidos a nuestra boda!</p> -->
      <app-carousel></app-carousel>
    </div>
  </div>

  <div id="section2" class="section section2">
    <div class="card">
      <h2>Nosotros</h2>
      <p>Nuestra historia de amor...</p>
    </div>
  </div>

  <div id="section3" class="section section3">
    <div class="card">
      <h2>Detalles del evento</h2>
      <p>Fecha, lugar y más detalles...</p>
    </div>
  </div>
</div>
