<app-navbar></app-navbar>
<div class="content">
  <div id="section1" class="section section1">
    <div class="card">
      <h2>Nuestra Boda</h2>
      <p>¡Bienvenidos a nuestra boda!</p>
    </div>
  </div>

  <div id="section2" class="section section2">
    <div class="card">
      <h2>Nosotros</h2>
      <p>Nuestra historia de amor...</p>
    </div>
  </div>

  <div id="section3" class="section section3">
    <div class="card">
      <h2>Detalles del evento</h2>
      <p>Fecha, lugar y más detalles...</p>
    </div>
  </div>
</div>
