@import 'src/styles.scss';
.navbar {
  position: fixed;
  top: 0; // Se adhiere al inicio de la ventana (parte superior)
  z-index: 1000; // Asegúrate de que esté por encima de otros elementos
  background: rgba(255, 255, 255, 0.2) !important; // Fondo semitransparente para el efecto de vidrio
  backdrop-filter: blur(5px); // Efecto de vidrio
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); // Añade una sombra ligera
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  
    .navbar-brand {
      color: $lavender-pastel; // Color del texto de la marca
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-link {
      color: $mint-pastel; // Color de los enlaces
      margin: 0 1rem;
      font-size: 1.2rem;
  
      &:hover {
        color: $rose-pastel; // Color rosa claro al pasar el mouse
        text-decoration: underline;
      }
    }
  
    .navbar-toggler {
      border-color: $lavender-pastel; // Icono de colapsar
    }

    .navbar-collapse{
        text-align: center;
        margin: 1rem;
    }

    .nav-item{
        padding: 0.5rem;
    }
  }
  
  